<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>
    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>
    <div class="text-end text-muted">
        Додатковий текст
    </div>

    <hr>

    <a href="#" class="btn btn-primary">
        Button primary
    </a>

    <hr>

    <p class="text-success">My text</p>
    <p class="text-danger">My text</p>
    <p class="text-primary">My text</p>

    <hr>

    <button class="btn btn-outline-primary">Text</button>
    <button class="btn btn-outline-primary btn-lg">Text</button>
    <button class="btn btn-outline-primary btn-sm">Text</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>