{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<div class="row">
    <div class="mt-5 mb-2">
        <h5>Список сторінок</h5>
    </div>
    <div>
        <p>Проєкт створенний під час навчання на Fullstack в школі IT BRAINS. Складається з 18 сторінок:</p>
    </div>
    <div class="mt-5">
        <a href="/bio" class="col-2 btn btn-primary">Bio</a>
    </div>
    <div class="my-2">
        <a href="/car" class="col-2 btn btn-primary">Car</a>
    </div>
    <div>
        <a href="/facebook" class="col-2 btn btn-primary">Facebook</a>
    </div>
    <div class="my-2">
        <a href="/js" class="col-2 btn btn-primary">JS</a>
    </div>
    <div>
        <a href="/mac" class="col-2 btn btn-primary">Mac</a>
    </div>
    <div class="my-2">
        <a href="/person" class="col-2 btn btn-primary">Person</a>
    </div>
    <div>
        <a href="/program" class="col-2 btn btn-primary">Program</a>
    </div>
    <div class="my-2">
        <a href="/shopcart" class="col-2 btn btn-primary">Shopcart</a>
    </div>
    <div>
        <a href="/shopcatalog" class="col-2 btn btn-primary">Shopcatalog</a>
    </div>
    <div class="my-2">
        <a href="/shophome" class="col-2 btn btn-primary">Shophome</a>
    </div>
    <div>
        <a href="/shopnews" class="col-2 btn btn-primary">Shopnews</a>
    </div>
    <div class="my-2">
        <a href="/shoporder" class="col-2 btn btn-primary">Shoporder</a>
    </div>
    <div>
        <a href="/shopproduct" class="col-2 btn btn-primary">Shopproduct</a>
    </div>
    <div class="my-2">
        <a href="/shopreview" class="col-2 btn btn-primary">Shopreview</a>
    </div>
    <div>
        <a href="/task21" class="col-2 btn btn-primary">Task21</a>
    </div>
    <div class="my-2">
        <a href="/task22" class="col-2 btn btn-primary">Task22</a>
    </div>
    <div>
        <a href="/task31" class="col-2 btn btn-primary">Task31</a>
    </div>
    <div class="my-2">
        <a href="/web" class="col-2 btn btn-primary">Web</a>
    </div>
</div>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}