{{#each cards}}
<div class="col-4">
    <div class="card mb-5">
        <img class="card-img-top" src="{{image}}">
        <div class="card-body">
            <h5 class="card-title pt-2">{{title}} <span class="badge text-bg-warning">{{#if
                    isHot}}Hot!{{/if}}</span>
                <span class="badge text-bg-primary">{{#if isNew}}Нове{{/if}}</span>
            </h5>
            <p class="pt-2">{{description}}</p>
        </div>
    </div>
</div>
{{/each}}